
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Здравейте!</h1>
            <p class="lead">
                Gaska е уеб (за сега) базирана платформа за изчисляване на разход на гориво, съхраняване на всякаква информация за коли и съхраняване на сервизна история.
                Нашата крайна цел е да олесним начина на пазене на всякакъв вид информация за коли. Очаквайте много нови неща, както и миграция към мобилна платформа.
            </p>
            <hr class="my-4">
            <p>Ако забележите, че на места може да се подобри функционалността може да се свържете с нас.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Връзка с нас</a>
            </p>
        </div>

        <div class="jumbotron">
            <p class="lead">
                Gaska е уеб (за сега) базирана платформа за изчисляване на разход на гориво, съхраняване на всякаква информация за коли и съхраняване на сервизна история.
                Нашата крайна цел е да олесним начина на пазене на всякакъв вид информация за коли. Очаквайте много нови неща, както и миграция към мобилна платформа.
            </p>
            <hr class="my-4">
            <p>Ако забележите, че на места може да се подобри функционалността може да се свържете с нас.</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light mb-3">
            <div class="card-header"><h4>Препоръчителни интервали за сервизна история</h4></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Запис</th>
                        <th scope="col">Интервал</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Масло</td>
                        <td>15 000 км</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Маслен филтър</td>
                        <td>15 000 км</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Горивен филтър</td>
                        <td>15 000 км</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Въздушен филтър</td>
                        <td>15 000 км</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Поленов филтър</td>
                        <td>15 000 км</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Спирачна течност</td>
                        <td>50 000 км</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Антифриз</td>
                        <td>50 000 км</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Хидравлична течност</td>
                        <td>3 години</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Климатик</td>
                        <td>1 година</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Масло (автоматик)</td>
                        <td>50 000 км</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>