@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<br />

<div>
    <h4>Промени настройките на профила си</h4>
    <p class="text-success">@ViewData["StatusMessage"]</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Промени</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Създай</a>
            }
        </dd>
    </dl>
</div>
